*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.App{
  background-image: url('./assets/search-background.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

main{
  min-height: 80vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.35));
  padding: 10em;
}
